<div style="text-align: center;">
  <h3>--------------<b>Generate Barcode Or Qrcode Here</b>--------------</h3>
</div>
<div style="text-align: center;">
<div>
  <label for="barcodeNumber"><b>Data You Want To Convert:</b></label><br>
  <input type="text" #dataToconvertToRef name="dataToConvert" id="barcodeNumber" [(ngModel)]="dataToConvert " onClick="this.select();"  style="padding: 5px;"/>
</div>
<div><br>
  <button type="submit" (click)="generateBarcode()" style="background-color:rgb(9, 121, 250); padding: 5px; color: snow;">Generate Bar Code</button>
  &nbsp;&nbsp;<button type="submit" (click)="generateQrCode()" style="background-color:rgba(243, 45, 39, 0.562); padding: 5px; color: snow;">Generate QR Code</button>
</div><br>
<div [hidden] = "!displayBarCode">
  <svg id = "barcode"></svg>
</div>
<div *ngIf = "displayQrCode">
  <qr-code [value]="dataToConvertIntoQR"></qr-code>
</div>
</div>
<router-outlet></router-outlet>